  <div class="large-4  columns">
          <h2><%= link_to '<span class="fa fa-graduation-cap"> GMAT </span>'.html_safe, gmatmathdiagnostic_path  %></h2>
          <h4><%= link_to '<span>Free Math Diagnostic Test</span>'.html_safe, gmatmathdiagnostic_path %>  <br>
          	  Free Verbal Diagnostic Test</h4>
 </div>
 <div class="large-4  columns">
          <h2><%= link_to '<span class="fa fa-graduation-cap"> GRE </span>'.html_safe, gremathdiagnostic_path  %></h2>
          <h4><%= link_to '<span>Free Math Diagnostic Test</span>'.html_safe, gremathdiagnostic_path %><br>
          	  <%= link_to '<span>Free Verbal Diagnostic Test</span>'.html_safe, greverbaldiagnostic_path %><br></h4>
 </div>
  <div class="large-4  columns">
          <h2><%= link_to '<span class="fa fa-graduation-cap"> TOEFL </span>'.html_safe, toefldiagnostic_path  %></h2>
          <h4><%= link_to '<span>Free Toefl Diagnostic Test</span>'.html_safe, toefldiagnostic_path %>  <br>
 </div>
 