

<div class="row">
              <div class="large-6 columns">
                 <%= link_to image_tag("blackboard.jpg"), home_path %>
              </div>
              <div class="large-5 large-offset-1 columns">
                
                <div class="small-8 small-offset-1  columns"><h2>Buscar materia</h2> </div>
                
                 <nav class="round">

		          	<ul>
		          	
							<li><%= link_to "Mate Basica", tag_path("Mate")  %></li>
							<li><%= link_to "Quimica", tag_path("Quimica")  %></li>
					        <li><%= link_to "Tesis", tag_path("Tesis")  %></li>
					           </ul>
					
					<ul>

				<li><%= link_to "Calculo", tag_path("Mate avanzada")  %></li>
							<li><%= link_to "Computacion", tag_path("Computacion")  %></li>
					        <li><%= link_to "Fisica", tag_path("Fisica")  %></li>
		          </ul>
		          <ul>

				<li><%= link_to "Mate Avanzada", tag_path("Mate avanzada")  %></li>
							<li><%= link_to "Musica", tag_path("Musica")  %></li>
					        <li><%= link_to "Arte", tag_path("Arte")  %></li>
		          </ul>
		                </br>
		          <ul>

				<li><%= link_to "English", tag_path("English")  %></li>
							<li><%= link_to "English HL", tag_path("TOEFL")  %></li>
					        <li><%= link_to "TOEFL", tag_path("TOEFL")  %></li>
		          </ul>
		          		                </br>
		          <ul>

				<li><%= link_to "GRE ", tag_path("GRE")  %></li>
							<li><%= link_to "GMAT ", tag_path("GMAT")  %></li>
					        <li><%= link_to "SAT I/II", tag_path("SAT")  %></li>
		          </ul>
		          </nav>
              </div>
</div>


<table>

  <tbody>
    <% @users.each do |user| %>
      <tr>
       <td><section class="pictureround"><%= link_to gravatar_for( user, size:200), user %></section></td>
        <td><%= user.name %></br> </br> 
        	
        	<h3><%= link_to image_tag("Thumbs_Up.png"), help_path %> <%= user.grade %>% </h3>
        	
         </td>
       
   		<% if user.microposts.any? %>
    		 <td width="70%">
    		 	 Mis especialidades son: <%= raw user.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %> ... </br></br></br>
    		 	<%= user.microposts.first.content %></td>
    	<% end %>
  

      </tr>
    <% end %>
  </tbody>

</table>
<%= will_paginate %>

