

<div class="row">
              <div class="large-7 columns">
                <img src="http://placehold.it/600x400&text=[Intro]"/>
              </div>
              <div class="large-5  columns">
                
                <div class="small-8 small-centered columns"><h2>Buscar materia</h2> </div>
                
                 <nav class="round">

		          	<ul>
		          	
							<li><%= link_to "Subject1", tag_path("math")  %></li>
							<li><%= link_to "Subject2", tag_path("math")  %></li>
					        <li><%= link_to "Subject3", tag_path("math")  %></li>
					            </ul>
					<ul>

				<li><%= link_to "Subject1", tag_path("math")  %></li>
							<li><%= link_to "Subject2", tag_path("math")  %></li>
					        <li><%= link_to "Subject3", tag_path("math")  %></li>
		          </ul>
		          </nav>
              </div>
</div>


<table>

  <tbody>
    <% @users.each do |user| %>
      <tr>
      	<td><section class="pictureround"><%= link_to gravatar_for( user, size:150), user %></section></td>
        <td><%= user.name %></br> </br> I teach 
        <%= raw user.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %> ... </td>
   		<% if user.microposts.any? %>
    		 <td><%= user.microposts.first.content %></td>
    	<% end %>
  

      </tr>
    <% end %>
  </tbody>

</table>
<%= will_paginate %>

