        <div class="row">
        <div class="large-12 columns">
        <div id="slider">
          <%= link_to image_tag("collage.jpg"), home_path %>
        </div>
        
        <hr/>
        </div>
      </div>
      
     
     
      <div class="row">
        <div class="large-4 columns">
        	<h2><%= link_to "Post-Universitario", home_path  %></h2>
          <%= link_to image_tag("business.jpg"), home_path %>
            </br></br>
          <h4>Mejora tu ingles, preparate para el TOEFL, el GMAT o el GRE para triunfar en tu carrera</h4>
        </div>
        
        <div class="large-4 columns">
        	<h2><%= link_to "Educacion General", home_path  %></h2>
          <%= link_to image_tag("grad.jpg"), home_path %>
         </br></br>
          <h4>Desde Kinder hasta tu Graduacion, te podemos ayudar en todas las materias y a superar todos los obstaculos.</h4>
        </div>
        
        <div class="large-4 columns">
        	<h2><%= link_to "Empleo", contact_path %></h2>
          <%= link_to image_tag("work_with_us.jpg"), contact_path %>
          </br></br>
          <h4>Unete a nuestro equipo de tutores profesionales en Ecuador. Mandanos tu resume con una carta de aplicacion y nos pondremos en contacto!</h4>
        </div>
      
        </div>
        
     
    <div class="row">
        <div class="large-12 columns">
        
          <div class="panel">
            <h4>Get in touch!</h4>
                
            <div class="row">
              <div class="large-9 columns">
                <p>We'd love to hear from you, you attractive person you.</p>
              </div>
              <div class="large-3 columns">
                <a href="#" class="radius button right">Contact Us</a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
     
       
      

    