       
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6019370689145', {'value':'0.00','currency':'USD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6019370689145&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
       
        <div class="row">
        <div class="large-12 columns">
        <div id="slider">
       
          <%= link_to image_tag("banner2.png"), '#' %>
        </div>
        
        <hr/>
        </div>
      </div>
           <div class="large-8 columns">
      <h2>Este verano estaremos dictando un curso gratuito de Ingles y Matemáticas a escuelas fiscales de cumbaya. Necesitamos su ayuda con cualquier contribución (materiales, donaciones, etc).<%= link_to '<span> ver más </span>'.html_safe, probono_path  %> </h2>
      </div>

      <div class="large-4 columns">
           <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="YJG53HZH2XVJW">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
      </div>
 
     <div class="row">
        <div class="large-12 columns">
     
          <%= link_to image_tag("diagnostic2.png"), diagnostic_path %>

        </div>
      </div>  
     
     <hr/>

     
      <div class="row">
        <div class="large-4 columns">
        	<h2><%= link_to '<span class="fa fa-graduation-cap"> GRE </span>'.html_safe, gre_path  %></h2>
          <h4>El GRE es el examen estandarizado más ampliamente aceptado para maestrías y doctorados en el exterior. El examen cuenta de una sección matemática y una sección verbal cuyo enfoque es vocabulario y comprensión de lectura.<%= link_to '<span> ver más </span>'.html_safe, gre_path  %> 
          </h4>
        </div>
        
        <div class="large-4 columns">
        
        	<h2><%= link_to '<span class="fa fa-institution"> TOEFL</span>'.html_safe, toefl_path  %></h2>
       
        
          <h4>TOEFL es el examen de Inglés más ampliamente aceptado a nivel mundial, incluyendo más de 9000 universidades y demás instituciones en 130 países.<%= link_to '<span> ver más </span>'.html_safe, toefl_path  %> </br></br>
          	
          	</h4>

        </div>
        
        <div class="large-4 columns">
        	<h2><%= link_to '<span class="fa fa-car"> Clases Particulares</span>'.html_safe, tutoring_path %></h2>
         
          
          <h4>
          	Ofrecemos tutoría privada en el hogar para todos los niveles con el fin de atender a las escuelas bilingües del Ecuador. <%= link_to '<span> ver más </span>'.html_safe, tutoring_path  %></br></br></br></br>
          	
          </h4>
        </div>
      
        </div>

      <div class="row">
        <div class="large-4 columns">
        	<h2><%= link_to '<span class="fa fa-desktop"> GMAT </span>'.html_safe, gmat_path  %></h2>
          <h4>El GMAT es el examen preferido para entrar a una Maestría de Negocios. Es una prueba con un enfoque matemático y lógico que requiere de una preparación especializada. 
           <%= link_to '<span> ver más </span>'.html_safe, gmat_path  %><br><br>
       </h4>
        </div>
        
        <div class="large-4 columns">
        
        	<h2><%= link_to '<span class="fa fa-coffee"> SAT</span>'.html_safe, sat_path  %></h2>
       
        
          <h4>El SAT es el examen estandarizado de ingreso universitario más ampliamente aceptado por las Universidades Americanas. El examen es administrado por la organización College Board 
          	 <%= link_to '<span> ver más </span>'.html_safe, sat_path  %><br><br>
       </h4>

        </div>
        
        <div class="large-4 columns">
        	<h2><%= link_to '<span class="fa fa-briefcase"> Executive English</span>'.html_safe, english_path %></h2>
         
          
          <h4>
          	Ofrecemos inglés ejecutivo para profesionales que buscan desenvolverse en un ambiente bilingüe. Entre nuestros clientes se encuentra Continental, General Motors, Easy Soft y demás.
          	<%= link_to '<span> ver más </span>'.html_safe, english_path  %></br></br>
          	
          </h4>
        </div>
      
        </div>
        
        
     
    <div class="row">
        <div class="large-12 columns">
        
          <div class="panel">
            <h4>Get in touch!</h4>
                
            <div class="row">
              <div class="large-9 columns">
                <p>Test Prep en Quito y Cumbaya. GMAT, GRE, SAT y TOEFL. Mandanos un email a admin@erudito.guru o 098-378-7800</p>
              </div>
              <div class="large-3 columns">
              	<%= link_to '<span class="fa fa-envelope">  Contacto</span>'.html_safe, contact_path, :class => "radius button right" %>
              </div>
            </div>
          </div>
          
        </div>
      </div>
     
       
      

    