<p id="notice"><%= notice %></p>

<% provide(:title, @user.name) %>
  
  <div class="large-4  columns">
      <h1>
      	<%= @user.name %></br></br></br>
       <%= gravatar_for @user, size:200 %>
        
      </h1>
    </div>
 
  
<div class="large-7  columns">

<p>
  <strong>Mis Especialidades:</strong>
  <%= @user.tag_list%>
</p>

    <% if @user.microposts.any? %>
      <h2>Introduccion</h2>
      <div class="microposts">
        <%= render @microposts %>
      </div>
      <%= will_paginate @microposts %>
    <% end %> 
      
 </div>
 <div class="column span-24">
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
