<p id="notice"><%= notice %></p>

<% provide(:title, @user.name) %>
  
  <aside class="column span-6">
    <div>
      <h1>
      	<%= @user.name %></br>
       <%= gravatar_for @user, size:200 %>
        
      </h1>
    </div>
  </aside>
  
<div class="column span-11 last">

<p>
  <strong>Tags:</strong>
  <%= @user.tag_list%>
</p>
    <% if @user.microposts.any? %>
      <h3>Details</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
 
      
 </div>
 <div class="column span-24">
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
