<p id="notice"><%= notice %></p>

<% provide(:title, @user.name) %>
  
  <div class="large-4  columns">
      <h1>
      	<%= @user.name %></br></br></br>
       <%= gravatar_for @user, size:200 %>
        
      </h1>
      <%= link_to '<span class="fa fa-envelope"> Contacteme </span>'.html_safe, contact_path%><br>
       <%= link_to '<span class="fa fa-phone"> (095) 918-4199 </span>'.html_safe, "#"%>
      
    </div>
 
  
<div class="large-7  columns">

<p>
  <strong>Mis Especialidades:</strong>
  <%= @user.tag_list%>
</p>

    <% if @user.microposts.any? %>
      <h2>Introduccion</h2>
      <div class="microposts">
        <%= render @microposts %>
      </div>
      <%= will_paginate @microposts %>
    <% end %> 
      
 </div>

